* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.nav-bar{
    height:4.5rem; 
    width: 100%;
    background-color: #FFFFFF;
    margin-left: 0px;
    margin-top:0px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem 2rem !important;
    justify-content: space-between;
}

.logo-img {
    width: 2.5rem;
    height: 2.5rem;
}

.logo-txt {
    font-size: 24px;
}

.purple {
    background-color: #8997ff;
}

.white-text {
    color: #FFFFFF;
}

#getStarted {
    width: 9.125rem;
    height: 2.75rem;
    box-shadow: none;
    font-size: 18px;
    border: none;
    border-radius: 16px;
}

.black-text {
    color: #000000;
}

#login {
    font-size: 18px;
}

#login:hover {
    color: #6375FF
}

.navbar-left, .navbar-right {
    margin: 0px;
    padding: 0px;
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 1.25rem;
}

.clickable {
    cursor: pointer;
}

.body {
    padding: 3rem 0px 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #f8f8f8;
    text-align: center;
}

.Inter {
    font-family: Inter;
}

.Convergence {
    font-family: Convergence;
}

.slogan-txt {
    font-size: 64px;
    margin-bottom: 2rem;
    line-height: 1.25;
}

.no-pads {
    padding: 0px;
}

.no-margins {
    margin: 0px;
}

.grey-text {
    color: #505050;
}

.h2-txt {
    font-size: 32px;
    margin-bottom: 32px;
}

#bigStart {
    font-size: 32px;
    width: 17rem;
    height: 5rem;
    border: none;
    border-radius: 32px;
}

.bold {
    font-weight: bold;
}

.whyRevill {
    text-align: center;
    padding-bottom: 32px;
}

.sans-serif {
    font-family: sans-serif;
}

.features {
    padding-top: 5rem;
    padding-bottom: 3rem;
}

.features-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    padding: 2rem;
    width: 100%;
}

.secondary-purple {
    background-color: #E7E6FF;
}

.grid {
    border-radius: 16px;
    padding: 32px;
}

@media (max-width: 768px) {
    .features-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .features-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

.grid-title {
    font-size: 24px;
}

.grid-text {
    font-size: 16px;
}

.iconbox {
    width: 4rem;
    height: 4rem;
    border-radius: 16px;
    margin-bottom: 1rem;
    padding: 0.625rem;
}

.strong-purple {
    background-color: #6375FF;
}

.icon-img {
    width: 2.75rem;
    height: 2.75rem;
}

.works {
    padding: 3rem;
    text-align: center;
}

.works-title {
    font-size:36px;
}

.works-row {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

.works-circles {
    font-size: 40px;
    padding: 0.5rem;
    text-align: center;
    width: 5rem;
    height: 5rem;
    border-radius: 2.5rem;
}

.works-item-title {
    font-size: 24px;
}

.works-item-content {
    font-size: 16px;
}

.works-item {
    flex: 1;
    min-width: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.weak-purple {
    background-color: #C0C8FF;
}